<div class="container-keyboad">
  <div class="container-input">
    <input class="filtro-pesquisa" type="text" [value]="inputValue">
  </div>
  <div class="keyboard">
    <div class="row">
      <button (click)="addToInput('1')">1</button>
      <button (click)="addToInput('2')">2</button>
      <button (click)="addToInput('3')">3</button>
      <button (click)="addToInput('4')">4</button>
      <button (click)="addToInput('5')">5</button>
      <button (click)="addToInput('6')">6</button>
      <button (click)="addToInput('7')">7</button>
      <button (click)="addToInput('8')">8</button>
      <button (click)="addToInput('9')">9</button>
      <button (click)="addToInput('0')">0</button>
    </div>
    <div class="row">
      <button (click)="addToInput('q')">Q</button>
      <button (click)="addToInput('w')">W</button>
      <button (click)="addToInput('e')">E</button>
      <button (click)="addToInput('r')">R</button>
      <button (click)="addToInput('t')">T</button>
      <button (click)="addToInput('y')">Y</button>
      <button (click)="addToInput('u')">U</button>
      <button (click)="addToInput('i')">I</button>
      <button (click)="addToInput('o')">O</button>
      <button (click)="addToInput('p')">P</button>
    </div>
    <div class="row">
      <button (click)="addToInput('a')">A</button>
      <button (click)="addToInput('s')">S</button>
      <button (click)="addToInput('d')">D</button>
      <button (click)="addToInput('f')">F</button>
      <button (click)="addToInput('g')">G</button>
      <button (click)="addToInput('h')">H</button>
      <button (click)="addToInput('j')">J</button>
      <button (click)="addToInput('k')">K</button>
      <button (click)="addToInput('l')">L</button>
    </div>
    <div class="row">
      <button (click)="addToInput('z')">Z</button>
      <button (click)="addToInput('x')">X</button>
      <button (click)="addToInput('c')">C</button>
      <button (click)="addToInput('v')">V</button>
      <button (click)="addToInput('b')">B</button>
      <button (click)="addToInput('n')">N</button>
      <button (click)="addToInput('m')">M</button>
    </div>
    <div class="row">
      <button (click)="clearInput()">Clear</button>
    </div>
  </div>
</div>